#navbar{
    background-color: rgb(30,32,43);
}

.logo-btn{width: fit-content;}
.active{
    border: 3px solid rgb(0,154,216);
    border-radius: 39px;
    color: rgb(0,154,216) !important;
    
}
.nav-item:hover{
  border: 3px solid rgb(0,154,216);
  border-radius: 39px;
  color: rgb(0,154,216) !important;
 
}
/* start home */
section{
    background-color: rgb(30,32,43);
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    

}
h4{
    font-size: 60px;
}
.icoon{
    color: yellow;
}
.card{
    background-color: rgb(50,53,68);
}
.card-head{
    background-color: rgb(45,48,61);
}
/* start footer */
footer{
    background-color: rgb(38,41,54);
    
    padding: 50px;
}
.icon-hover{

    background-color: rgb(30,32,43);
}
.icon-hover:hover{
    background-color: rgb(0,154,216) ;
    cursor: pointer;
}
.icon-hover:hover i{
    color: white !important;
}


@media screen and (max-width : 992px) {
    
.logo-btn{width: 90%;}
    
}

/*  */
.contactUS{
    background-color: rgb(30,32,43);
    

}
.contact-card{
    background-color: rgb(45,48,61); 
}
.nav-bg{
    background-color: rgb(45,48,61);   
}